@import '../SCSS/mixins.scss' ;
@import '../SCSS/variables.scss' ;
@import '../SCSS/functions.scss' ;

* {
    @include reset;
}

header{
    @include header;
}
body{
    background-color: $profile-bg;
    @include fontstack;
}

section{
    height: max-content;
    width: auto;
    margin: 0px 145px 80px;
    background-color: $gallery-cardbg;
    // border: 1px solid $message-border;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow-lg;
    // First Section Project Name User Details Starts Here
    .project-details-wrapper{
        height: 83px;
        width: 100%;
        display: flex;
        align-items: center;
        img{
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
            
        }
        div{
            margin:0px 15px;
            display: flex;
            flex-direction: column;
            p{
                font-weight: 700;
                font-size: 16px;
            }
            h5{
                font-weight: 400;
                font-size: 14px;
                color: $text-primary;
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: $text-primary;
                }
                &:hover{
                    text-decoration: underline;
                }
            }  
        }
        ul{
            font-weight: 400;
            font-size: 14px;
            margin-left: 30px;
            color: $icon-clr;
            cursor: pointer;
            li:hover{
                text-decoration: underline;
            }
        }
    }
    // First Section Project Name User Details Ends Here

    // Project Images
    .project-showcase-wrapper{
        width: 100%;
        height: max-content;
        img{
            object-fit: cover;
            width: 100%;
            margin: -3px 0px;
        }
    }
    // Project Images Ends

    // Project Comments, Follow, Tags Start Here
    .project-adds-options{
        margin: 92px 101px;
        // background-color: turquoise;
        width: auto;
        height: 160vh;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(14, 1fr);
        gap: 0px 10px;
        .add-comments{
            grid-row: 1 / 4;
            grid-column: 1 /4;
            @include projectgridBorder;
        }
        .user-details{
            grid-row: 1 / 4;
            grid-column: 4 /6;
            @include projectgridBorder;
            border-radius: 6px;
        }
        .comments-shows{
            grid-row: 4 / 14;
            grid-column: 1 /4;
            @include projectgridBorder;
        }
        .more-comments-tab{
            grid-row: 14 / 15;
            grid-column: 1 /4;
            @include projectgridBorder;
        }
        .project-tags-list{
            grid-column: 4 /6;
            grid-row: 6 / 10;
            @include projectgridBorder;
            border-radius: 6px;
        }
    }



}